.work-order-bar {
  position: absolute;
  top: 10px;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  z-index: 1;
  gap: 8px;
  cursor: pointer;

  &:hover .edit-btn {
    opacity: 1;
  }
}

.bar-right {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-left: auto;
}

.edit-btn {
  width: 24px;
  height: 22px;
  border-radius: 5px;
  background-color: #f1f3f8;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.2s ease;
  font-size: 12px;
  color: #333;
}

.edit-btn-wrapper {
  position: relative;
}

.dropdown {
  position: fixed;
  width: 200px;
  height: 80px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow:
    0 0 0 1px rgba(104, 113, 150, 0.1),
    0 2.5px 3px -1.5px rgba(200, 207, 233, 1),
    0 4.5px 5px -1px rgba(216, 220, 235, 1);

  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 100;
  padding: 17px 0;
  gap: 5px;
}

.dropdown-item {
  background: none;
  border: none;
  padding: 0 12px;
  height: 40px;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  color: #2f3059;

  &:hover {
    background: #f5f5f8;
  }
}

.delete {
  color: #3e40db;
}
