<div
  class="work-order-bar"
  [style.left.px]="left"
  [style.width.px]="width"
  [ngStyle]="order.data.status | barStyle"
  (mouseenter)="showTooltip = true"
  (mouseleave)="showTooltip = false"
>
  @if (displayMode === 'full') {
    <span class="bar-label">{{ order.data.name }}</span>
  }

  @if (displayMode !== 'minimal') {
    <div class="bar-right">
      <app-pill [status]="order.data.status"></app-pill>
      <div class="edit-btn-wrapper">
        <button class="edit-btn" (click)="toggleMenu($event)">...</button>
      </div>
    </div>
  }

  @if (displayMode === 'minimal') {
    <div class="edit-btn-wrapper minimal-edit">
      <button class="edit-btn" (click)="toggleMenu($event)">...</button>
    </div>
  }

  @if (showTooltip && displayMode !== 'full') {
    <div class="bar-tooltip">{{ order.data.name }}</div>
  }
</div>

<ng-template #dropdownTemplate>
  <div class="dropdown">
    <button class="dropdown-item" (click)="onEdit()">Edit</button>
    <button class="dropdown-item delete" (click)="onDelete()">Delete</button>
  </div>
</ng-template>
