<div
  class="work-order-bar"
  [style.left.px]="left"
  [style.width.px]="width"
  [ngStyle]="order.data.status | barStyle"
  (mouseenter)="openToolbar($event)"
  (mouseleave)="closeToolbar()"
  (click)="$event.stopPropagation()"
>
  @if (displayMode === 'full') {
    <span class="bar-label">{{ order.data.name }}</span>
  }

  @if (displayMode !== 'minimal') {
    <div class="bar-right">
      <app-pill [status]="order.data.status"></app-pill>
      <button class="edit-btn" (click)="toggleMenu($event)">...</button>
    </div>
  }
</div>

<ng-template #toolbarTemplate>
  <div class="floating-toolbar" (mouseenter)="keepToolbar()" (mouseleave)="closeToolbar()">
    <span class="toolbar-name">{{ order.data.name }}</span>
    <span class="toolbar-divider"></span>
    <app-pill [status]="order.data.status"></app-pill>
    <span class="toolbar-divider"></span>
    <button class="toolbar-btn" (click)="onEdit()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-pencil-icon lucide-pencil"
      >
        <path
          d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z"
        />
        <path d="m15 5 4 4" />
      </svg>
    </button>
    <span class="toolbar-divider"></span>
    <button class="toolbar-btn" (click)="onDelete()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-trash-icon lucide-trash"
      >
        <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6" />
        <path d="M3 6h18" />
        <path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />
      </svg>
    </button>
  </div>
</ng-template>

<ng-template #dropdownTemplate>
  <div class="dropdown">
    <button class="dropdown-item" (click)="onEdit()">Edit</button>
    <button class="dropdown-item delete" (click)="onDelete()">Delete</button>
  </div>
</ng-template>

<ng-template #confirmTemplate>
  <div class="confirm-dialog">
    <p>Are you sure you want to delete this work order?</p>
    <div class="confirm-actions">
      <button class="btn-cancel" (click)="cancelDelete()">Cancel</button>
      <button class="btn-delete" (click)="confirmDelete()">Delete</button>
    </div>
  </div>
</ng-template>
