.timeline-header {
  padding: 20px 0;

  h2 {
    margin-top: 25px;
  }
}

.zoom-control {
  display: inline-flex;
  align-items: center;
  background: #f0f1f8;
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 rgba(200, 207, 233, 1);
  gap: 0;

  label {
    font-size: 14px;
    color: #687196;
    white-space: nowrap;
    padding: 4px 12px 4px 16px;
  }
}
