<div class="page-wrapper">
  <app-timeline-header></app-timeline-header>

  <div class="grid-container">
    <div class="left-panel">
      <div class="left-header">Work Center</div>
      @for (wc of workCenters; track wc.docId) {
        <div
          class="left-row"
          [class.row-hovered]="hoveredWorkCenterId() === wc.docId"
          (mouseenter)="hoveredWorkCenterId.set(wc.docId)"
          (mouseleave)="hoveredWorkCenterId.set(null)"
        >
          {{ wc.data.name }}
        </div>
      }
    </div>

    <div class="right-panel">
      <div class="header-row">
        @for (col of columns(); track col.getTime()) {
          <div class="col-header">{{ col | colHeader }}</div>
        }
      </div>
      @for (wc of workCenters; track wc.docId) {
        <div
          class="grid-row"
          [class.row-hovered]="hoveredWorkCenterId() === wc.docId"
          (mouseenter)="hoveredWorkCenterId.set(wc.docId)"
          (mouseleave)="hoveredWorkCenterId.set(null)"
          (mousemove)="onGridMouseMove($event, wc.docId)"
        >
          @for (col of columns(); track col.getTime()) {
            <div class="grid-cell"></div>
          }

          @if (hoveredWorkCenterId() === wc.docId && hoveredDate()) {
            <div class="ghost-box" [style.left.px]="ghostLeft()"></div>
          }

          @for (pos of barPositions(); track pos.order.docId) {
            @if (pos.order.data.workCenterId === wc.docId) {
              <app-work-order-bar
                [order]="pos.order"
                [left]="pos.left"
                [width]="pos.width"
                (deleted)="deleteOrder($event)"
              ></app-work-order-bar>
            }
          }
        </div>
      }
    </div>
  </div>
</div>
